SMTP_USER=
REDIS_URI=
TELEGRAM_BOT_TOKEN=
SMTP_PORT=
MONGODB_URI=
TELEGRAM_CHAT_ID=
CLOUDINARY_URL=
MEDIA_COMPRESSION_LEVEL=
CLOUDINARY_API_KEY=
SMTP_HOST=
SMTP_PASS=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
GEMINI_API_KEY=
